@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: .75rem /* 12px; */;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@layer components {

  .hero-image {
    @apply h-20;
  }

  .mobile-hero {
    @apply flex items-center w-8/12 mx-auto relative bottom-[6.5rem]
    445:bottom-28 445:w-7/12 527:bottom-32 1440:w-8/12 1440:translate-y-48
    1440:translate-x-[-5.5rem] 1920:translate-x-[-7rem] 1920:translate-y-36
    ;
  }

  .mobile-shadow {
    @apply flex items-center w-9/12 mx-auto relative bottom-44
    445:bottom-44 445:w-7/12 527:bottom-52 1440:w-10/12 1440:translate-x-[-8rem] 
    1440:translate-y-[-14rem] 1920:translate-x-[-10.5rem] 1920:translate-y-[-25rem];
  }

  .main-container {
    @apply bg-white w-11/12 mx-auto rounded-2xl
    1440:grid grid-cols-2 1440:w-8/12 1440:overflow-hidden;
  }

  .QA {
    @apply pl-5 pb-3 pr-6 ;
  }

  .divider {
    @apply w-5/6 h-.1 mt-3 bg-lightGrayishBlue mx-auto;
  }

  .box {
    @apply relative translate-x-[-3rem] translate-y-[-7.1rem] z-[2]
    1920:translate-y-[-12rem]
  }
}

