@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: .75rem /* 12px; */;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@layer components {

  .hero-image {
    @apply h-20;
  }

  .mobile-hero {
    @apply flex items-center w-9/12 mx-auto relative bottom-[6.5rem];
  }

  .mobile-shadow {
    @apply flex items-center w-9/12 mx-auto relative bottom-44
  }

  .main-container {
    @apply bg-white w-11/12 mx-auto rounded-2xl;
  }

  .QA {
    @apply pl-5 pb-3 pr-6 ;
  }

  .divider {
    @apply w-5/6 h-.1 mt-3 bg-lightGrayishBlue mx-auto;
  }
}

